name: Release
on:
  push:  # git trigger
    tags:
      - "v*.*.*"
  create:  # github UI trigger

permissions:
  contents: read

jobs:
  release:
    permissions:
      contents: write # for goreleaser/goreleaser-action to create a GitHub release
    if: >
      (
        github.event_name == 'push' &&
        startsWith(github.ref, 'refs/tags/v')
      ) || (
        github.event_name == 'create' &&
        github.event.ref_type == 'tag' &&
        startsWith(github.ref, 'refs/tags/v')
      )
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: .go-version
          check-latest: false

      - name: Unshallow
        run: git fetch --prune --unshallow

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create release
        uses: goreleaser/goreleaser-action@v6
        with:
          args: release --clean
          version: "~> v1"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
